a.logo.header__logo(href=company.logo.url title=company.logo.urlTitle)
  picture.logo__pic
    source(type='image/webp' srcset=`/img/${company.logo.fileName}.webp`)
    img.logo__img(alt=company.logo.alt src=`/img/${company.logo.fileName}.png`)
